<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="loginFilePath" value="{path-to-logins-file}" />
    <add key="repoPath" value="{path-to-repo}"/>
    <add key="salt" value="{private-salt}" />
    <add key="Theme" value="3" />
    <add key="GitIntegration" value="no"/>
    <add key="GitInfoPanel" value="no" />
    <add key="GitPullEveryMinutes" value="360"/>
  </appSettings>
    
</configuration>