<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="loginFilePath" value="C:\PasswordManager\release.0.1.5\Logins.xml" />
    <add key="salt" value="{private-salt}" />
    <add key="Theme" value="3" />
    <add key="GitIntegration" value="yes"/>
  </appSettings>
    
</configuration>